@import url("../../fonts/stylesheet.css");

.project{
    position: relative;
    height: 300vh;
    background: #2C3746;
    display: grid;
    grid-template-rows: 12% 28% 28% 32%;
    background-image: url(../../img/низ.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position:bottom;
    width: 100%;
    font: 0px "Muller";
}