.integrations{
    position: relative;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    width: 50%;
    height:70% ;
    top:15%;
    bottom: 15%;
    left: 10%;
    display: grid;
    grid-template-rows:50% 50%;
}
.integrations__h4{
    position: relative;
    color: #181D27;
    left: 10%;
    font-size: 40px;
    margin: 0;
    margin-bottom: 10%;
    top:20%
}
.integrations__list {
    position: relative;
    padding: 0;
    margin: 0;
    left: 10%;
    width: 94%;
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset: counterr; /* Задаём имя счетчика */
}
.integrations__list-item{
    color: #181D27;
    position: relative;
    font-size: 25px;
    padding-right: 3%;
}
.integrations__list-item::before {
    content: counter(counterr); /* Выводим число */
    counter-increment:counterr; /* Увеличиваем значение счётчика */
    color: #F10B13; /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
    position: relative;
    font-size: 300%;
    margin-right: 0.2em; /* Расстояние от цифры до текста */
    vertical-align: middle;
}
.integrations__logo{
    position: relative;
    align-self: center;
    width: 60%;
    height: auto;
    left: 10%;
    
}
