@import url("../../fonts/stylesheet.css");

.start{
    position: relative;
    background-image: url(../../img/фон.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    grid-template-rows: 20% 30% 50%;
    font: 0px "Muller";

}
.start__top{
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
}
.start__top-link{
    position: relative;
    color:#FFFFFF;
    left: 5%;
    top:35%;
    margin: 0;
    width: 95%;
    height: 65%;
    font-size: 1vw;
}
.start__top-link-item{
    color:#FFFFFF;
    text-decoration:none;
}
.start__top-tags{
    position: relative;
    color:#FFFFFF;
    text-decoration:none;
    top:35%;
    height: 65%;
    margin: 0;
    font-size: 1.3vw;

}
.start__top-tags-item{
    color:#FFFFFF;
    text-decoration:none;
}
.start__heading{
    position: relative;
    color:#FFFFFF;
    font-size: 5vw;
    text-align: center;
    left: 20%;
    width: 60%;
    margin: 0;
}
.animation{
    position: relative;
    opacity: 0;
    transform: translateY(20px);

}
.start__picture{
    position: relative;
    background-size: cover;
    width: auto;
    max-height: 25vw;
    justify-self: center;
}

.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}