.menu{
    background: #181D27;
    position: fixed;
    width: 90vw;
    height: 85vh;
    display: grid;
    grid-template-columns: 45% 55%;
    top: 13%;
    left: 4%;   
    transform: translateX(150%);
    transition: all 0.5s; 
    opacity: 0;
}
.menu.active {
	transform: translateX(0);
    opacity: 1;

}
.menu__left{
    position: relative;
    display: grid;
    grid-template-rows: 30% 40% 30%;
}
.menu__logo{
    position: relative;
    left: 10%;
    top:40%;
    width: 70%;
}
.menu__button{
    width:auto;
    max-width:100%;
    position: relative;
    background: #FF8800;
    color: #FFFFFF;
    left: 10%;
    width: 45%;
    height: 25%;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.menu__left-bottom{
    position: relative;
    display: grid;
    grid-template-rows: 25% 25% 50%;
}
.menu__number{
    position: relative;
    color: #FF8800;
    align-self: center;
    text-decoration:none;
    left: 10%;
    font-weight: 650;
    font-size: 2vw;
    line-height: 120%;
}
.menu__link{
    position: relative;
    color: #FFFFFF;
    opacity: 0.75;
    align-self: center;
    text-decoration:none;
    left: 10%;
    font-weight: 650;
    font-size: 1.5vw;
    line-height: 130%;
}
.menu__social-network{
    position: relative;
    left: 9%;
    top:20%;
    width: 96%;
    
}
.menu__social-network-item{
    text-decoration:none;
    padding: 1%;
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.25;
}
.menu__right{
    position: relative;
}
.menu__list{
    position: relative;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    top:2%;
    list-style-type: none;
}
.menu__list-item{
    text-decoration:none;
    color: #FFFFFF;
}
.menu__list-item:hover{
    color: #FF8800;
}
.menu__hr{
    opacity: 0.25;
}
.menu__list-u{
    display: grid;
    grid-template-columns: 50% 50%;
}
.menu__list-u-c{
    display: grid;
    grid-template-rows: 50% 50%;
}
.menu__list-item-u{
    text-decoration:none;
    color: #FFFFFF;
    font-size: 1vw;
    margin-top: 5%
}
.menu__list-item-u:hover{
    color: #FF8800;
}

.menu__btn{
    position: relative;
    width: 50px;
	height: 50px;
    top:5%;
    left: 80%;
}
.menu__label{
    position: relative;
    color: #FF8800;
    top:10%;
    left: 70%;
    font-size: 15px;
}

.menu__btn span{
    width: 50px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
	transition: all 0.5s;
}
.menu__btn:hover span{
	background-color: #FF8800;
}
.menu__btn span:nth-of-type(1) {
    transform: translate(-50%, 0%) rotate(45deg);  

}
.menu__btn span:nth-of-type(2) {
    transform: translate(-50%, 0%) rotate(-45deg); 

}