.footer{
    position: relative;
    background: #181D27;
    height: 600px;
    width: 100%;
    bottom: 0%;
    display: grid;
    grid-template-rows: 40% 10% 30% 20%;
}
.new_project-footer{
    grid-template-rows: 100%;
    height: 130px;
    position: relative;
    bottom: 0;
    left: 0;

}
.footer__bottom{
    display: flex;
    background: #11141C;
    width: 100%;
    overflow:hidden;
}
.footer__top{
    display: grid;
    grid-template-columns: 50% 50%;
}
.footer__top-right{
    display: grid;
    grid-template-rows: 40% 40% 20%;
    overflow:hidden;

}
.footer__top-right-label{
    position: relative;
    color: #FFFFFF;
    align-self: flex-end;
    left: 10%;
    font-weight: 650;
    font-size: 35px;
    line-height: 125%;
    width:90%;

}
.footer__top-right-number{
    position: relative;
    color: #FF8800;
    align-self: center;
    text-decoration:none;
    left: 10%;
    font-weight: 650;
    font-size: 4vw;
    line-height: 120%;
}
.footer__top-right-link{
    position: relative;
    color: #FFFFFF;
    opacity: 0.75;
    align-self: center;
    text-decoration:none;
    left: 10%;
    font-weight: 650;
    font-size: 37px;
    line-height: 130%;
}
.footer__top-left{
    display: grid;
    grid-template-rows: 40% 40% 20%;
    overflow:hidden;

}
.footer__top-left-button{
    width:auto;
    max-width:100%;
    position: relative;
    background: #FF8800;
    color: #FFFFFF;
    left: 10%;
    width: 80%;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.footer__bottom-label{
    position: relative;
    color: #FFFFFF;
    opacity: 0.5;
    left: 5%;
    align-self: center;
    font-size: 1vw;
}
.footer__bottom-link{
   
    position: relative;
    color: #FFFFFF;
    opacity: 0.5;
    left: 70%;
    text-decoration:none;
    align-self: center;
    font-size: 1vw;

}
.footer__center{
    position: relative;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    top:40%;
}
.footer__center-item{
    display: grid;
    grid-template-rows: 50% 50%;
}
.footer__center-city{
    position: relative;
    color: #FFFFFF;
    left: 15%;
    top:20%;
    font-size: 25px;  
}
.footer__center-item-line{
    border-left: 1px solid #FFFFFF; 
    padding-left: 10px; 
    /* opacity: 0.25; */
}

.footer__center-address{
    font-size: 15px; 
    position: relative;
    color: #FFFFFF;  
    left: 15%;
    align-self: center;
}
.footer__center-city-line{
    left: 0%;
    opacity: 1;
}
.footer__social-network{
    position: relative;
    left: 4%;
    top:50%;
    width: 96%;
    
}
.footer__social-network-item{
    text-decoration:none;
    padding: 1%;
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.25;
}
/* .bottom{
    grid-row: 4;
} */