.team{
     position: relative;
    background: #F6F6F7;
    height: 60vh;
    display: grid;
    grid-template-rows: 40% 60%;
}

.team__h3{
    position: relative;
    left: 10%;
    width: 90%;
    margin: 0;
    font-size:5vw;
    color: #181D27;
    top:50%;
    height: 50%;
}
.team__list {
    position: relative;
    padding: 0;
    margin: 0;
    left: 10%;
    width: 90%;
    list-style-type: none;
    top: 25%;
    height: 65%;
}
.team__list-item{
    color: #232122;
    position: relative;
    font-size: 3.5vh;
    display: inline;  
    background-color: #FFFFFF;
    margin-right: 3%;
}
