.features{
    display: grid;
    grid-template-rows:30% 70% ;
}
.features__text{
    position: relative;
}
.features__h3{
    color: #FFFFFF;
    font-size:40px;
    position: relative;
    top:5%;
    left: 6%;
    width: 90%;
    margin: 0;
}
.features__p{
    position: relative;
    color: #FFFFFF;
    opacity: 0.75;
    left: 6%;
    top:10%;
    white-space: normal;
    width: 60%;
    font-size: 20px;
    margin: 0;
}
.features__pictures{
    position: relative;
    user-select: none;
}

.features__slider{
    position: relative;
    width: 100vw;
    height: 55vh;
    overflow: hidden;
}

.features__slider-line{
    position: relative;
    display: flex;
    width: 75vw;
    height: 55vh;
    left:25%;
    cursor: pointer;
    transition: all ease 1s;
}

.features__picture1{
    position: relative;
    height: 100%;
    max-width: 100%;
}

.features__animation{
    position: relative;
    opacity: 0;
    transform: translateX(30%);

}
.features__element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateX(0%);
}
