.design{
    display: grid;
    grid-template-rows:30% 70% ;
}
.design__text{
    position: relative;
}
.design__h3{
    color: #FFFFFF;
    font-size: 40px;
    position: relative;
    top:20%;
    left: 35%;
    width: 65%;
    margin: 0;
}
.design__p{
    position: relative;
    color: #FFFFFF;
    opacity: 0.75;
    left: 35%;
    top:30%;
    white-space: normal;
    width: 60%;
    font-size: 20px;
    margin: 0;
}
.design__pictures{
    position: relative;
    user-select: none;
}

.design__slider{
    position: relative;
    width: 100vw;
    height: 55vh;
    overflow: hidden;
}

.design__slider-line{
    position: relative;
    display: flex;
    width: 70vw;
    height: 55vh;
    left:-20%;
    cursor: pointer;
    transition: all ease 1s;
}

.design__picture1{
    position: relative;
    height: 100%;
    max-width: 100%;

}
.design__animation{
    position: relative;
    opacity: 0;
    transform: translateX(-30%);

}
.design__element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateX(0%);
}