@import url("../fonts/stylesheet.css");

body, html { 
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font: 0px "Muller";
    background:#2C3746;
    margin: 0;
}
.new_project-body{
    background:#F6F6F7;

}