@import url("../../fonts/stylesheet.css");

.header{
     position: static;
     display: flex;
    width:100%;
    flex-wrap: nowrap;
    height: 70px;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    font: 0px "Muller";

}

.header__logo{
    position: static;
    display: block;
    width: 50%;    
}

.header__logo-img{
    position: relative;
    display: block;
    left: 10%;   
    top: 30%;
    bottom: 30%;    
}

.header__menu{
    display: block;
    width: 40%;
}
.header__menu-link{
    color: #181D27;
    text-decoration:none;
    padding: 4%;
    font-weight: 300;
    font-size: 1.3vw;
    line-height: 120%;
}

.header__menu-link-phone-number{
    color: #181D27;
    text-decoration:none;
    padding: 6%;
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 24px;
}
.header__burger{
    position: relative;
    width: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.header__burger-link{
    position: relative;
    color: #FF8800;
    text-decoration:none;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 120%;
    top:20%;
}

.header__btn{
    width: 50px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}
.header__btn span {
	width: 60px;
	height: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FF8800;
	transition: all 0.5s;
}
.header__btn span:nth-of-type(1) {
	top: calc(50% - 5px);
    width: 100px;
    left:0;
}
.header__btn span:nth-of-type(2) {
	top: calc(50% + 5px);
    left:0;
    height: 2px;
}
.header__btn:hover .header__btn span:nth-of-type(2){
    width: 100px;
    opacity: 0;

}