.stages__h2{
    color: #FFFFFF;
    font-size: 5vw;
    position: relative;
    top:25%;
    left: 6%;
    width: 90%;
    margin: 0;

}
.stages__list {
    position: relative;
    padding: 0;
    margin: 0;
    left: 6%;
    width: 94%;
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset: my-counter; /* Задаём имя счетчика */
    top: 35%;
}
.stages__list-item{
    color: #FFFFFF;
    position: relative;
    font-size: 2.5vh;
    display: inline; /* Отображать как строчный элемент */
    padding-right: 3%;
}
.stages__list-item::before {
    content: counter(my-counter); /* Выводим число */
    counter-increment: my-counter; /* Увеличиваем значение счётчика */
    color: #F10B13; /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
    position: relative;
    font-size: 300%;
    margin-right: 0.2em; /* Расстояние от цифры до текста */
    vertical-align: middle;
}