@import url("../../fonts/stylesheet.css");

.purpose-and-problem{
    position: relative;
    width: 200vw;
    font: 0px "Muller";

}
.purpose-and-problem__slider{
    width: 100vw;
    height: 85vh;
    overflow: hidden;
}
.purpose-and-problem__slider-line{
    position: relative;
    display: flex;
    width: 200vw;
    height: 85vh;
    left: 0;
    transition: all ease 1s;
}
.purpose-and-problem__sliders{
    background: #F6F6F7;
    width: 100vw;
    height: 85vh;
    display: grid;
    grid-template-columns: 60% 40%;
    
}
.purpose-and-problem__left{
    position: relative;
    align-self: center;
    width: auto;
    height: auto;
}
.purpose-and-problem__h2{
    position: relative;
    left: 10%;
    width: 90%;
    margin: 0;
    font-size:5vw;
    color: #181D27;
}
.purpose-and-problem__list{
    position: relative;
    padding-left: 13%;
    color: #181D27;
    list-style-type: square;
    font-size: 1vw;
}
.purpose-and-problem__list-item::marker{
    color: #F10B13;
    font-size:2vw;
    
}
.purpose-and-problem__picture{
    position: relative;
    width: 100%;
    height: 100%;
    align-self: center;
    background-image: url(../../img/purpose-and-problem__picture.png);  
    background-size: cover;
}

.purpose-and-problem__text{
    position: relative;
    left: 10%;
    width: 90%;
}

.purpose-and-problem__slider-prev{
    position:absolute;
    display: inline-block;
    width: 1.5%;
    min-width: 30px;
    line-height: 40px;
    text-align: center;
    top:40%;
    background: rgba(153, 153, 153, 0.49);
    color: white;
    text-decoration: none;
    border: none;
    opacity: 0;
    overflow: hidden;
    height: 0;
}
.purpose-and-problem__slider-next{
    position:absolute;
    display: inline-block;
    width: 1.5%;
    min-width: 30px;
    line-height: 40px;
    text-align: center;
    top:40%;
    background: rgba(153, 153, 153, 0.49);
    color: white;
    text-decoration: none;
    /* left: 96vw; */
    right: 50.5%;
    border: none;
    opacity: 0;
    overflow: hidden;
    height: 0;
    
}
 .purpose-and-problem__right-arrow
 {
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

 }
 .purpose-and-problem__left-arrow
 {
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
 }
 /* .purpose-and-problem:hover .purpose-and-problem__slider-prev{
    overflow: visible;
    height: 15%;
    opacity: 1;
 } */
 .purpose-and-problem:hover .purpose-and-problem__slider-next{
    overflow: visible;
    height: 15%;
    opacity: 1;
 }