.technologies{
    position: relative;
    background-image: url(../../img/technologies-picture.png);
    background-size: cover;
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.technologies__h2{
    position: relative;
    left: 10%;
    width: 90%;
    margin: 0;
    top: 10%;
    font-size:5vw;
    color: #FFFFFF;
}
.technologies__h3{
    top:11%;
    font-size:3vw;
}
.technologies__list{
    position: relative;
    padding-left: 12%;
    color: #FFFFFF;
    list-style-type: square;
    top:15%;
    opacity: 0.75;
    font-size: 2vw;

}
.technologies__list-item::marker{
    color: #F10B13;
    font-size:3vw;
    
}
.technologies__picture{
    position: relative;
    align-content: center;
    display:flex;
    justify-content: center;
    width: 100% ;
    top:9%;
}