@import url("../../fonts/stylesheet.css");

.logo-and-text{
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
    background: #2C3746;
    width: 100%;
    height: 30vh;
    font: 0px "Muller";

}
.logo-and-text__logo{
    position: relative;
    background-size: cover;
    width: 60%;
    height: 60%;
    top:20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
}
.logo-and-text__text{
    position: relative;
    color: #FFFFFF;
    opacity: 0.75;
    left: 20%;
    align-self: center;
    white-space: normal;
    width: 70%;
    font-size: 18px;
}