.new-project{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.new-project__left{
    position: relative;
    display: grid;
    grid-template-rows: 20% 35% 35%;
}
.new-project__h1{
    font-size: 5vw;
    color: #181D27;
    position: relative;
    left:10%;
}
.new-project__h2{
    font-size: 30px;
    color: #181D27;
    position: relative;
    left:10.5%;
    font-weight:400;
}
.new-project__services-list{
    position: relative;
    display: flex; 
    color: #181D27;
    font-size: 15px;
    padding: 0;
    margin: 0;
    left: 10%;
    width: 100%;
    flex-wrap: wrap; 

}
.new-project__block{
    position: relative;
    height: 15%;
    background: #FFFFFF;
    max-width: 50%;
    margin: 1%;
    padding: 3%;
    padding-right: 3.7%;

}
.new-project__services-item{
    position: relative;
    display: inline;  
    margin: 3%;
}
.new-project__block:hover{
    background: #ff880036;

}
.new-project__slider {
    position: relative;
    left:10%;
    height: 0px;
    opacity: 0.5;
    background-color:#181D27 ;
    border: 2px solid #181D27;

}
.new-project__thumb {
    position: relative;
    width: 30px;
    height: 30px;
    top: -13px;
    opacity: 1;
    background: #FFFFFF;
    cursor: pointer;
}
.new-project__thumb-small{
    position: relative;
    width: 20px;
    height: 20px;
    left: 5px;
    top: 5px;
    opacity: 1;
    background: #FF8800;
    cursor: pointer;
}
.new-project__cost{
    position: relative;
    color: #181D27;
    font-size: 2vw;
}
.new-project__right{
    position: relative;
    display: grid;;
    grid-template-rows: 15% 15% 30% 20% 20%;
}