.more-cases{
    position: relative;
    background: #F6F6F7;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-cases__button{
    position: relative;
    color: #FF8800;
    background:transparent;
    border: 0;
    font-size: 2.5vw;

}